#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
    list-style-type: none;
}

.watchesList {
    max-width: 600px;
    border: 1px solid lightgrey;
}

.watches-form {
    display: flex;
    align-items: end;
    text-align: center;
}

.watches-name-block, .watches-time-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px;
}

.watches-name, .watches-time {
    width: 200px;
    height: 30px;
    margin-top: 20px;
}

.btn-add-watches {
    height: 40px;
    margin: 10px;
    background: #123654;
}

.watchesList {
    display: flex;
    flex-wrap: wrap;
}

.watches-item {
    margin: 15px;
}

.watches-item-name {
    width: 170px;
    height: 30px;
    margin-top: 20px;
    background: rgb(33, 81, 98);
}

.btn-remove-watches {
    cursor: pointer;
}









@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}